* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --cor-de-fundo: #fff;
    --cor-primaria: #101828;
    --cor-secundaria: #667085;
    --cor-terciaria: #8e2424
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.cabecalho__Nav {
    display: flex;
    align-items: center;
    gap: 12rem;
    margin-left: 9%;
}

.cabecalho__Nav img {
    padding: 4rem 0;
}

.cabecalho__Nav nav {
    display: flex;
    gap: 3.2rem;
    padding: 4rem 0;
}

.cabecalho__Nav nav a {
    color: var(--cor-secundaria);
    font-size: 1.6rem;
}

.cabecalho__login {
    display: flex;
    gap: 1.2rem;
    margin-right: 9%;
}

.cabecalho__login a {
    padding: 1rem 1.8rem;
    font-size: 1.6rem;
}

.cabecalho__login__entrar {
    color: var(--cor-secundaria);
}

.cabecalho__login__cadastrar {
    border-radius: 0.8rem;
    background-color: var(--cor-terciaria);
    color: var(--cor-de-fundo);
}